{% extends 'base.html.twig' %}

{% block title %}NewsPaper index
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			{{ form_start(form) }}
			<div class="form-row align-items-end">
				<div class="col">
					{{ form_row(form.titre) }}
				</div>
				<div class="col">
					{{ form_row(form.cote) }}
				</div>
				<div class="col">
					<div class="form-group">
						<button class="btn btn-primary">Rechercher</button>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>


	<h1>NewsPaper index</h1>

	<table class="table">
		<thead>
			<tr>
				
				<th>Titre</th>
				<th>Cote</th>
				<th>Disponibilité</th>
				<th>Image</th>
				<th>Date de creation</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody>
			{% for news_paper in news_papers %}
				<tr>
					
					<td><a href="{{ path('news_paper_show', {'id': news_paper.id}) }}">{{ news_paper.title }}</a></td>
					<td>{{ news_paper.cote }}</td>
					<td>{{ news_paper.availability ? 'Yes' : 'No' }}</td>
					<td>{{ news_paper.picture }}</td>
					<td>{{ news_paper.createdAt ? news_paper.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						
						<a href="{{ path('news_paper_edit', {'id': news_paper.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('news_paper_new') }}">Create new</a>
	       {{ knp_pagination_render(news_papers) }}
{% endblock %}

{% block javascripts %}
    <script>
        {% include "filter/_filters.js" %}
    </script>
{% endblock %}
