{% extends 'base.html.twig' %}

{% block title %}NewsPaper index{% endblock %}

{% block body %}
    <h1>NewsPaper index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Cote</th>
                <th>Availability</th>
                <th>Picture</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news_paper in news_papers %}
            <tr>
                <td>{{ news_paper.id }}</td>
                <td>{{ news_paper.title }}</td>
                <td>{{ news_paper.cote }}</td>
                <td>{{ news_paper.availability ? 'Yes' : 'No' }}</td>
                <td>{{ news_paper.picture }}</td>
                <td>{{ news_paper.createdAt ? news_paper.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('news_paper_show', {'id': news_paper.id}) }}">show</a>
                    <a href="{{ path('news_paper_edit', {'id': news_paper.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_paper_new') }}">Create new</a>
{% endblock %}
