{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Cote</th>
                <th>Availability</th>
                <th>Picture</th>
                <th>Authtor</th>
                <th>Special</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.title }}</td>
                <td>{{ livre.cote }}</td>
                <td>{{ livre.availability ? 'Yes' : 'No' }}</td>
                <td>{{ livre.picture }}</td>
                <td>{{ livre.authtor }}</td>
                <td>{{ livre.special ? 'Yes' : 'No' }}</td>
                <td>{{ livre.searchable }}</td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">show</a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livre_new') }}">Create new</a>
{% endblock %}
