{% extends 'base.html.twig' %}

{% block title %}Loan index
{% endblock %}

{% block body %}



	<h1>Empruntes</h1>

	<table class="table" id="lstindex">
		<thead>
			<tr>
				<th>User</th>
				<th>CreatedAt</th>
				<th>UdatedAt</th>
				<th>Status</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>


	<label for='lstusers'>Filrer par utilisateur</label>
	<select class="browser-default custom-select" id="lstusers">
		{% for loan in loans %}
			<option class='form-group' value={{loan.user.firstname}} select="selected">{{loan.user.firstname}}</option>
		{% endfor %}
	</select>

		
			{% for loan in loans %}
				<tr>
					{#<td>{{ loan.id }}</td>#}
					<td>
						<a href="{{path('user_show', {'id':loan.user.id} )}}">
							{{loan.user.firstname}}
						</a>
					</td>
					<td>{{ loan.createdAt ? loan.createdAt|date('Y-m-d H:i:s') : '' }}
					</td>
					<td>{{ loan.udatedAt ? loan.udatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ loan.status ? 'Yes' : 'No' }}</td>


					<td>
						<a href="{{ path('loan_show', {'id': loan.id}) }}">show</a>
						<a href="{{ path('loan_edit', {'id': loan.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table> 

	<a href="{{ path('loan_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
	<script>
		{% include "filter/_filters.js" %}</script>

</script>
{% endblock %}
